# Example env for docker-compose/docker-compose.yml
POSTGRESQL_DB_PORT=5432
POSTGRESQL_DB_USERNAME=postgres
POSTGRESQL_DB_PASSWORD=postgres123
PRODUCT_DB_NAME=product_db

MONGO_DB_PORT=27017
MONGO_DB_USERNAME=admin
MONGO_DB_PASSWORD=admin123
MONGO_MIGRATION_DB=db_migrations
CUSTOMER_DB_NAME=customer_db
CART_DB_NAME=cart_db

